<!DOCTYPE html>
<html lang="en-US">

<!-- this is a comment -->

<head>
    <meta charset="utf-8">
    <meta name="author" content="Matt">
    <meta name="description" content="2nd page">
    <meta property="og:title" content="Mozilla Developer Network">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">

    <title>Page 2</title>
    <h1 id="Top heading">Welcome to Page 2!</h1>
</head>

<body>
    <p>This is my second page... WOW!</p>
    <p>Let's make some links
        <a href="https://spaceflightnow.com" title="The space webz">spaceflightnow</a>
        <!--makes mouse hover -->
    </p>
    <p><strong>Let's add a link to the h1 heading</strong></p>
    <a href="#Top heading">Link to heading 1</a>
    <script src="script.js"></script>
    <p><strong>Let's send some emails</strong></p>
    <a href="mailto:mcamack@gmail.com">Matt's email</a>
    <p><strong>Description Lists</strong></p>
    <dl>
        <dt>Avengers</dt>
        <dd>The 1st book</dd>
        <dt>Civil War</dt>
        <dd>The 2nd book</dd>
        <dd>Author: Millar</dd>
        <dt>Daredevil</dt>
        <dd>The 3rd book</dd>
    </dl>
    <p><strong>Blockquotes</strong></p>
    <blockquote>This is a blockquote</blockquote>
    <p><strong>Abbreviations</strong></p>
    <abbr title="This is a tooltip">Tooltip</abbr>
</body>

</html>